<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <input name="category" type="text" placeholder="enter category" />
      <input name="price" type="number" placeholder="enter price" />
      <input name="importance" type="text" placeholder="enter importance" />
      <button>Edit Expense</button>
    </form>
    <script src="/js/edit.js"></script>
  </body>
</html>
